@{
    ViewData["Title"] = "Find a business to fund training for your apprentices";
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    Heading
                </h1>
            </div>
            <div class="govuk-grid-column-two-thirds">
                Body
            </div>
        </div>
    </div>
</main>